*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$fonts: (
    open-sans: (
        font-family: 'Open Sans' 
    ),
    comme: (
        font-family: 'Comme'
    ),
    raleway: (
        font-family: 'Raleway'
    ),
    roboto-mono: (
        font-family: 'Roboto Mono'
    )
);
body {
    @each $font,$map in $fonts {
        &.#{$font} {
            $fon: map-get($map: $map, $key: font-family);
            font-family: $fon, sans-serif;
        }
    }
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.page {
    @include flex;
    min-height: 100vh;
    background-color: $main-color;
    .content-area{
        transition: 0.3s;
        will-change: width;
        width: 100%;
    }
}
.main-title {
    width: fit-content;
    border-bottom: 2px solid $secondary-color;
    .page-title {
        color: $secondary-color;
        font-weight: bold;
        margin-bottom: 5px;
    }
}
