- var pageTitle = "Home Page"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body
        .page.home-page 
            include pug/layout/sidebar
            .content-area 
                include pug/layout/header
                h2 #{pageTitle}
        include pug/components/scripts

