- var pageTitle = "Home Page"
doctype html
html(lang="en")
    head
        include pug/components/meta
        include pug/components/styles
    body
        .page.home-page
            include pug/components/setting-box
            include pug/layout/sidebar
            .content-area 
                include pug/layout/header
                .container-fluid
                    .content 
                        include pug/components/main-title
        include pug/components/scripts

