$themes: (
    green-theme: (
        color: #16a085 
    ),
    blue-theme: (
        color: #19A7CE 
    ),
    red-theme: (
        color: #c0392b 
    )
);
@each $theme,$map in $themes {
    .#{$theme} {
        .main-title .page-title {
            color: map-get($map: $map, $key: color);
        }
    }
}