.setting-box.hide.text-center
    .toggle-setting 
        i.fa-solid.fa-gear
    .setting-content 
        - var themes = ["green-theme","blue-theme","red-theme"]
        .option-box.colors-option
            h4 Colors Option
            ul.list-unstyled
                each theme in themes 
                    li(data-theme=theme class="rounded-circle")
        .option-box 
            h4 Colors Option
        .option-box 
            h4 Colors Option
