.setting-box.hide
    .toggle-setting 
        i.fa-solid.fa-gear
    .setting-content 
        .option-box 
            h4 Colors Option
        .option-box 
            h4 Colors Option
        .option-box 
            h4 Colors Option
