.setting-box.hide.text-center
    .toggle-setting 
        i.fa-solid.fa-gear
    .setting-content 
        - var themes = ["green-theme","blue-theme","red-theme","purple-theme"]
        .option-box.colors-option
            h4 Colors Option
            ul.list-unstyled
                each theme in themes 
                    li(data-theme=theme class="rounded-circle")
        .option-box.fonts-option 
            h4 Font Option
            - var fonts=["open-sans","comme","raleway","roboto-mono"]
            select.form-select
                each font in fonts 
                    option(value=font)=font + " Font"
        .option-box 
            h4 Colors Option
